.texttest {
    font-size: xx-large;
    
}

@media screen and (max-width: 806px) {
    .texttest {
      font-size: x-large;
     
    }
  }

  @media screen and (max-width: 608px) {
    .texttest {
      font-size: large;
     
    }
  }

  @media screen and (max-width: 460px) {
    .texttest {
      font-size: medium;
     
    }
  }

  @media screen and (max-width: 408px) {
    .texttest {
      font-size: 85%;
     
    }
  }


  .buy-button-text {
    text-align: center;
    font-size: 150%;
  }

  .information-text {
    font-size: 20px;
  }

  @media screen and (max-width: 820px) {
    .information-text {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    font-size: ;
    }
  }